{{- $namespace := include "mip.namespace" . }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: {{ $namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
        ports:
        - containerPort: 80
        env:
          - name: PORTAL_BACKEND_SERVER
            value: portalbackend-service:8080
          - name: PORTAL_BACKEND_CONTEXT
            value: services
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: {{ $namespace }}
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  {{- if not .Values.cluster.managed }}
  type: NodePort
  {{- if .Values.frontend.service.nodePort }}
  nodePort: {{ .Values.frontend.service.nodePort }}
  {{- end }}
  {{- end }}
{{- $ingressEnabled := and (default true .Values.network.ingress.enabled) (default true .Values.frontend.ingress.enabled) -}}
{{- if and $ingressEnabled (not (empty .Values.network.publicHost)) }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:

  name: frontend-ingress
  annotations:
    kubernetes.io/ingress.class: {{ .Values.frontend.ingress.className | default "nginx" }}
    {{- if .Values.frontend.ingress.certManagerClusterIssuer }}
    cert-manager.io/cluster-issuer: {{ .Values.frontend.ingress.certManagerClusterIssuer }}
    {{- end }}
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: {{ .Values.frontend.ingress.className | default "nginx" }}
  {{- if and .Values.network.ingress.tlsSecretName (not (empty .Values.network.publicHost)) }}
  tls:
    - hosts:
      - {{ .Values.network.publicHost }}
      secretName: {{ .Values.network.ingress.tlsSecretName }}
  {{- end }}
  rules:
    - host: {{ .Values.network.publicHost }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
{{- end }}
