apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: "{{ .Values.frontend.image.name }}:{{ .Values.frontend.image.version }}"
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  {{- if not .Values.managed_cluster }}
      nodePort: 30080  # Static NodePort for frontend
  type: NodePort
  {{- end }}
{{- if .Values.managed_cluster }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:

  name: datacatalog-ingress
  annotations:
    kubernetes.io/ingress.class: {{ .Values.frontend.ingress }}
    cert-manager.io/cluster-issuer: {{ .Values.frontend.cert_manager }}
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName:  {{ .Values.frontend.ingress }}
  tls:
    - hosts:
      - {{ .Values.mip.PUBLIC_HOST }}
      secretName: datacatalog-tls
  rules:
    - host: {{ .Values.mip.PUBLIC_HOST }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
{{- end }}