{{- if not .Values.cluster.managed }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ .Values.cluster.storageClasses.local }}
  labels:
    app: {{ .Values.cluster.storageClasses.local }}
provisioner: k8s.io/microk8s-hostpath
volumeBindingMode: Immediate
{{- end }}
