apiVersion: v1
kind: ConfigMap
metadata:
  name: mip-config
  namespace: {{ .Values.namespace }}
data:
  engines.exareme2.URL: {{ .Values.engines.exareme2.URL }}

  mip.INSTANCE_NAME: "{{ tpl .Values.mip.NAME . }}"
  mip.INSTANCE_VERSION: "{{ tpl .Values.mip.VERSION_STRING . }}"
  mip.LINK: {{ .Values.mip.LINK }}
  mip.EXTERNAL_PROTOCOL: {{ .Values.mip.EXTERNAL_PROTOCOL }}
  mip.PUBLIC_PROTOCOL: {{ .Values.mip.PUBLIC_PROTOCOL }}
  mip.PUBLIC_HOST: {{ .Values.mip.PUBLIC_HOST }}

  portalbackend.LOG_LEVEL: {{ .Values.portalbackend.LOG_LEVEL }}
  portalbackend.LOG_LEVEL_FRAMEWORK: {{ .Values.portalbackend.LOG_LEVEL_FRAMEWORK }}
  portalbackend.ALGORITHM_UPDATE_INTERVAL: "{{ .Values.portalbackend.ALGORITHM_UPDATE_INTERVAL}}"

  gateway.ENGINE_TYPE: {{ .Values.gateway.ENGINE_TYPE }}
  gateway.NODE_ENV: {{ .Values.gateway.NODE_ENV }}
  gateway.LOG_LEVEL: "{{ .Values.gateway.LOG_LEVEL }}"
  gateway.CACHE_ENABLED: "{{ .Values.gateway.CACHE_ENABLED }}"
  gateway.CACHE_TTL: "{{ .Values.gateway.CACHE_TTL }}"
  gateway.CACHE_MAX_ITEMS: "{{ .Values.gateway.CACHE_MAX_ITEMS }}"

  frontend.ERROR_LOG_LEVEL: {{ .Values.frontend.ERROR_LOG_LEVEL }}
  frontend.DATACATALOG_SERVER: {{ tpl .Values.frontend.DATACATALOG_PROTOCOL . }}://{{ tpl .Values.frontend.DATACATALOG_HOST . }}
  frontend.MATOMO_ENABLED: "{{ .Values.frontend.MATOMO_ENABLED }}"
  frontend.MATOMO_URL: {{ .Values.frontend.MATOMO_URL }}
  frontend.MATOMO_SITE_ID: "{{ .Values.frontend.MATOMO_SITE_ID }}"

  keycloak.AUTHENTICATION: "{{ .Values.keycloak.AUTHENTICATION }}"
  keycloak.HOSTNAME: {{ .Values.keycloak.URL }} # Only used with internal Keycloak auth
  keycloak.AUTH_URL: {{ .Values.keycloak.PROTOCOL }}://{{ .Values.keycloak.URL }}/auth/
  keycloak.REALM: {{ .Values.keycloak.REALM }}
  keycloak.CLIENT_ID: {{ .Values.keycloak.CLIENT_ID }}
  keycloak.SSL_REQUIRED: {{ .Values.keycloak.SSL_REQUIRED }}
  keycloak.PROXY_ADDRESS_FORWARDING: "{{ .Values.keycloak.PROXY_ADDRESS_FORWARDING }}"
