{{- $namespace := include "mip.namespace" . }}
{{- $frontendDatacatalogProtocol := default .Values.datacatalog.protocol .Values.frontend.config.datacatalog.protocol -}}
{{- $frontendDatacatalogHost := default .Values.datacatalog.host .Values.frontend.config.datacatalog.host -}}
{{- $matomoEnabled := ternary "true" "false" (default false .Values.frontend.config.matomo.enabled) -}}
{{- $proxyForwarding := ternary "true" "false" (default true .Values.keycloak.proxyAddressForwarding) -}}
{{- $authEnabled := default true .Values.keycloak.enabled -}}
{{- $authFlag := ternary "1" "0" $authEnabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: mip-config
  namespace: {{ $namespace }}
data:
  engines.exareme2.URL: {{ default "" .Values.engines.exareme2.url | quote }}

  mip.INSTANCE_NAME: {{ include "mip.instanceName" . | quote }}
  mip.INSTANCE_VERSION: {{ include "mip.instanceVersion" . | quote }}
  mip.LINK: {{ .Values.network.link | quote }}
  mip.EXTERNAL_PROTOCOL: {{ .Values.network.externalProtocol | quote }}
  mip.PUBLIC_PROTOCOL: {{ .Values.network.publicProtocol | quote }}
  mip.PUBLIC_HOST: {{ .Values.network.publicHost | quote }}

  portalbackend.LOG_LEVEL: {{ .Values.portalbackend.config.logLevel | quote }}
  portalbackend.LOG_LEVEL_FRAMEWORK: {{ .Values.portalbackend.config.logLevelFramework | quote }}
  portalbackend.ALGORITHM_UPDATE_INTERVAL: "{{ .Values.portalbackend.config.algorithmUpdateInterval }}"

  frontend.ERROR_LOG_LEVEL: {{ .Values.frontend.config.errorLogLevel | quote }}
  frontend.DATACATALOG_SERVER: {{ printf "%s://%s" $frontendDatacatalogProtocol $frontendDatacatalogHost | quote }}
  frontend.MATOMO_ENABLED: "{{ $matomoEnabled }}"
  frontend.MATOMO_URL: {{ default "" .Values.frontend.config.matomo.url | quote }}
  frontend.MATOMO_SITE_ID: "{{ default "" .Values.frontend.config.matomo.siteId }}"

  keycloak.AUTHENTICATION: "{{ $authFlag }}"
  keycloak.HOSTNAME: {{ include "mip.keycloak.host" . | quote }}
  keycloak.AUTH_URL: {{ include "mip.keycloak.authUrl" . | quote }}
  keycloak.REALM: {{ include "mip.keycloak.realm" . | quote }}
  keycloak.CLIENT_ID: {{ include "mip.keycloak.clientId" . | quote }}
  keycloak.SSL_REQUIRED: {{ include "mip.keycloak.sslRequired" . | quote }}
  keycloak.PROXY_ADDRESS_FORWARDING: "{{ $proxyForwarding }}"
