namespace: federation-b
managed_cluster: true

EXTERNAL_IP: ""

storageClasses:
  local: k8s-local-storage
  managed: ceph-corbo-cephfs

engines:
  exareme2:
    URL: ""
    image:
      version: 0.28.0

mip:
  PUBLIC_HOST: federation-b.mip-tds.chuv.cscs.ch
  version: 8.0.0
  LINK: ""
  EXTERNAL_PROTOCOL: ""
  PUBLIC_PROTOCOL: ""
  NAME: "MIP {{ .Values.mip.version }}"
  VERSION_STRING: "Frontend: {{ .Values.frontend.image.version }}, Gateway: {{ .Values.gateway.image.version }}, Backend: {{ .Values.portalbackend.image.version }}, Exareme: {{ .Values.engines.exareme2.image.version }}"

datacatalog:
  PROTOCOL: https
  HOST: ""

portalbackend_db:
  image:
    name: postgres
    version: 11.3-alpine
  storage:
    storage0:
      data_path: /opt/mip-deployment/.stored_data/portalbackenddb
      data_size: 1Gi

portalbackend:
  LOG_LEVEL: INFO
  LOG_LEVEL_FRAMEWORK: INFO
  ALGORITHM_UPDATE_INTERVAL: 60   # seconds
  image:
    name: hbpmip/portal-backend
    version: 8.2.0
  storage:
    storage0:
      data_path: /opt/mip-deployment/config
      data_size: 100Mi
  logs:
    storage0:
      data_path: /opt/mip-deployment/logs
      data_size: 1Gi

frontend:
  EXTERNAL_IP: "{{ .Values.EXTERNAL_IP }}"
  ingress: nginx
  cert_manager: letsencrypt
  image:
    name: madgik/frontend
    version: cand

keycloak_db:
  image:
    name: postgres
    version: 12.2
  storage:
    storage0:
      data_path: /opt/mip-deployment/.stored_data/keycloak
      data_size: 100Mi

keycloak:
  AUTHENTICATION: 0
  INTERNAL_AUTH: 0
  URL: ""
  REALM: MIP
  CLIENT_ID: MIP
  CLIENT_SECRET: ""
  SSL_REQUIRED: external
  PROXY_ADDRESS_FORWARDING: true        # important for reverse-proxy
  image:
    name: jboss/keycloak
    version: 15.0.2
  storage:
    storage0:
      data_path: /opt/mip-deployment/config/keycloak
      data_size: 100Mi
    storage1:
      data_path: /opt/mip-deployment/config/keycloak/HBPTheme
      data_size: 100Mi
