cluster:
  namespace: federation-b
  managed: true
  storageClasses:
    local: k8s-local-storage
    managed: ceph-corbo-cephfs

network:
  externalIP: ""
  link: proxied
  externalProtocol: https
  publicProtocol: https
  publicHost: federation-b.mip-tds.chuv.cscs.ch
  ingress:
    enabled: true
    className: nginx
    certManagerClusterIssuer: letsencrypt
    tlsSecretName: frontend-tls

engines:
  exareme2:
    url: "exareme2-controller-service:5000"
    image:
      repository: madgik/exareme2
      tag: 0.28.0

mip:
  displayName: MIP
  version: 8.0.0

datacatalog:
  protocol: https
  host: ""

frontend:
  image:
    repository: madgik/frontend
    tag: cand1
  service:
    nodePort: 30080
  ingress:
    enabled: true
    className: nginx
    certManagerClusterIssuer: letsencrypt
    tlsSecretName: frontend-tls
  config:
    errorLogLevel: ERROR
    datacatalog:
      protocol: https
      host: ""
    matomo:
      enabled: false
      url: ""
      siteId: ""

portalbackend:
  image:
    repository: hbpmip/portal-backend
    tag: 8.2.0
  config:
    logLevel: INFO
    logLevelFramework: INFO
    algorithmUpdateInterval: 60
  persistence:
    data:
      localPath: /opt/mip-deployment/config
      size: 100Mi
    logs:
      localPath: /opt/mip-deployment/logs
      size: 1Gi
  service:
    exposeDebug:
      enabled: false
      externalIP: ""

portalbackendDatabase:
  image:
    repository: postgres
    tag: 11.3-alpine
  persistence:
    localPath: /opt/mip-deployment/.stored_data/portalbackenddb
    size: 1Gi

keycloak:
  enabled: true
  host: iam.ebrains.eu
  protocol: https
  realm: MIP
  clientId: mipfedqa
  sslRequired: external
  proxyAddressForwarding: true
