namespace: federation-b
managed_cluster: true

EXTERNAL_IP: ""

storageClasses:
  local: k8s-local-storage
  managed: ceph-corbo-cephfs-retain

engines:
  exareme2:
    URL: ""
    image:
      version: 0.28.0

mip:
  PUBLIC_HOST: federation-a.mip-tds.chuv.cscs.ch
  version: 8.0.0
  LINK: ""
  EXTERNAL_PROTOCOL: ""
  PUBLIC_PROTOCOL: ""
  NAME: "MIP {{ .Values.mip.version }}"
  VERSION_STRING: "Frontend: {{ .Values.frontend.image.version }}, Gateway: {{ .Values.gateway.image.version }}, Backend: {{ .Values.portalbackend.image.version }}, Exareme: {{ .Values.engines.exareme2.image.version }}"

datacatalog:
  PROTOCOL: https
  HOST: ""

portalbackend_db:
  image:
    name: postgres
    version: 11.3-alpine
  storage:
    storage0:
      data_path: /opt/mip-deployment/.stored_data/portalbackenddb
      data_size: 1Gi

portalbackend:
  LOG_LEVEL: INFO
  LOG_LEVEL_FRAMEWORK: INFO
  ALGORITHM_UPDATE_INTERVAL: 60   # seconds
  image:
    name: hbpmip/portal-backend
    version: 8.2.0
  storage:
    storage0:
      data_path: /opt/mip-deployment/config
      data_size: 100Mi
  logs:
    storage0:
      data_path: /opt/mip-deployment/logs
      data_size: 1Gi

gateway_db:
  image:
    name: postgres
    version: 14-alpine
  storage:
    storage0:
      data_path: /opt/mip-deployment/.stored_data/gatewaydb
      data_size: 100Mi

gateway:
  ENGINE_TYPE: EXAREME
  NODE_ENV: production                  # development/production
  LOG_LEVEL: 4
  CACHE_ENABLED: true
  CACHE_TTL: 30
  CACHE_MAX_ITEMS: 100
  image:
    name: hbpmip/gateway
    version: 1.8.0

frontend:
  ERROR_LOG_LEVEL: info
  DATACATALOG_PROTOCOL: "{{ .Values.datacatalog.PROTOCOL }}"
  DATACATALOG_HOST: "{{ .Values.datacatalog.HOST }}"
  MATOMO_ENABLED: false
  MATOMO_URL: https://stats.humanbrainproject.eu/
  MATOMO_SITE_ID: 29
  EXTERNAL_IP: "{{ .Values.EXTERNAL_IP }}"
  ingress: nginx-public
  cert_manager: letsencrypt-public
  image:
    name: hbpmip/portal-frontend
    version: 10.0.1
  storage:
    data_path: /opt/mip-deployment/.stored_data/caddy/caddy_data
    data_size: 100Mi

keycloak_db:
  image:
    name: postgres
    version: 12.2
  storage:
    storage0:
      data_path: /opt/mip-deployment/.stored_data/keycloak
      data_size: 100Mi

keycloak:
  AUTHENTICATION: 0
  INTERNAL_AUTH: 0
  URL: ""
  REALM: MIP
  CLIENT_ID: MIP
  CLIENT_SECRET: ""
  SSL_REQUIRED: external
  PROXY_ADDRESS_FORWARDING: true        # important for reverse-proxy
  image:
    name: jboss/keycloak
    version: 15.0.2
  storage:
    storage0:
      data_path: /opt/mip-deployment/config/keycloak
      data_size: 100Mi
    storage1:
      data_path: /opt/mip-deployment/config/keycloak/HBPTheme
      data_size: 100Mi
